---
layout: static
title: Blog
---
<ul id="post-list">
{% for post in site.categories.blog %}
<li><h3><a href="{{ post.url }}">{{ post.title }}</a></h3> <span class="desc">written on {{post.date | date: "%B %d, %Y" }}</span></li>
{% endfor %}
</ul>

{% comment %}
<div class="grid_2">&nbsp;</div>

<div class="grid_2">
<ul id="post-list">
{% for post in site.categories.blog %}
	{% assign i = forloop.index | divided_by:2 %}
	{% if i != 0 or i == 1 %}
	<li><h3><a href="{{ post.url }}">{{i}}{{ post.title }}</a></h3> <small>written {{post.date | date_to_string }}</small></li>
	{% endif %}
{% endfor %}
</ul>
</div>

<div class="grid_2">
<ul id="post-list">
{% for post in site.categories.blog %}
	{% assign i = forloop.index | divided_by:2 %}
	{% if i == 0 %}
	<li><h3><a href="{{ post.url }}">{{ post.title }}</a></h3> <small>written {{post.date | date_to_string }}</small></li>
	{% endif %}
{% endfor %}
</ul>
</div>

<div class="grid_2">&nbsp;</div>
{% endcomment %}
